body {
	/*background-image: url("https://s-media-cache-ak0.pinimg.com/originals/90/c0/ab/90c0abc2f827ed700342aaf8dc827345.jpg");*/
	background-color: black;
	background-size: cover;
}

h1 {
	color: white;
}

.container-stage {
width: 80%;
height: 400px;
margin: 0 auto;
}

.img {
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	height: 400px;
	margin-left: 2px;
}
.container {
	background: aqua;
	width: 600px;
	margin: 0 auto;
}

.column-left {
	position: relative;
	border: 3px solid black;
	float: left;
	width: 48%;
}

.column-right {
	position: relative;
	border: 3px solid black;
	float: right;
	width: 48%;
}

.bench {
	display: block;
	border: 3px solid gray;
	margin-bottom: 20px;
}

.seat {
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	width: 22%;
	margin-left: 2px;
	border: 3px solid green;
}

.hovering {
	background: #f5f5f5;
}

form {
  width: 30%;
  margin-left: 10%;
	color: white;

}
#chooseNumSeats {
  width: 15%;
}


.disabled {
	background: red;
	position: relative;
}

.disabled a {
	pointer-events: none;
}


.checkout {
	background:rgba(0,120,30,.08);
}

.hoverdiv {
	display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid red;
    background-color: #eee;
    z-index: 10;
}
/* make child of disabled class divs (hoverdiv) appear as block instead of displaying as none */
.disabled:hover > .hoverdiv {
	display:block;
}
