body {
	background-color:#08010D;
	background-size: cover;
}

h1 {
	color: white;
	font-family: 'Sancreek', cursive;
	text-align: center;
}

.thank-you {
	margin: 0 auto;
	padding-top: 25px;
}

p {
	color: white;
	font-size: 150%;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.container-stage {
width: 70%;
height: 400px;
margin: 0 auto;
}

.container-break {
	width: 100%;
	height: 15px;
}

.container-stage .img {
	margin: 0 auto;
	width: 100%;
	height: 350px;
	border-radius: 20px;
}
.container {
	background-image: url("http://happygumbo.files.wordpress.com/2012/04/beach_sand_2_by_eddieretelj.jpg");
	width: 65%;
	margin: 0 auto;
	border-radius: 10px;
	margin-bottom: 5%;;


}

.column-left {
	position: relative;
	float: left;
	width: 48%;
}

.column-right {
	position: relative;
	float: right;
	width: 48%;
}

.bench {
	display: block;
	margin-bottom: 8%;
	height: 40px;

}

.seat {
	text-align: center;
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0 auto;
	width: 22%;
	background:url("bench.png") no-repeat center center;
	background-size: contain;
	z-index: 1;
	margin-left: 2px;
}



.img-seat {
	width: 100%;
	z-index: .5;
	height: 40px;
}

a{
	height: 100%;
	width: 100%;
	color: #eee;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 150%;
		font-family: 'Open Sans', sans-serif;
}

a:hover {
	color: #eee;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

input {
	width: 80%;
}

.hovering {
	background-color: #6F4194;
	background-image:url("bench.png") no-repeat;
	background-size: contain;
	z-index: 0;
	border-radius: 180px;
	transition: 5px;
	opacity: 0.8;
}

form {
  width: 40%;
  margin-left: 10%;
	color: white;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: black;
	border: 1px solid white;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	z-index: 50;

}

.disabled {
	background-color: #090606;
	background-image:url("bench.png") no-repeat;
	background-size: contain;
	position: relative;
	border-radius:120px;
	z-index: 200;
}

.disabled a {
	pointer-events: none;
}


.checkout {
	background-color:#ED2207;
	background-image:url("bench.png") no-repeat;
	position: relative;
	background-size: contain;
	border-radius: 120px;
}

.hoverdiv {
	display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    color: #eee;
    font-size: 125%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border: 1px solid red;
    background-color: black;
    z-index: 10;
		padding: 10px;
}
/* make child of disabled class divs (hoverdiv) appear as block instead of displaying as none */
.disabled:hover > .hoverdiv {
	display:block;
	border-radius: 10px;
}

a:link{
	color: #eee;
}



.pull-left{
	margin-left: 20px;
}

.pull-right{
	margin-right: 20px;
}
