body {
	/*background-image: url("https://s-media-cache-ak0.pinimg.com/originals/90/c0/ab/90c0abc2f827ed700342aaf8dc827345.jpg");*/
	background-color: black;
	background-size: cover;
}

/*@font-face {
    font-family: circusFont;
    src: url(Ewert-Regular.tff);*/

h1 {
	color: white;
	font-family: 'Sancreek', cursive;
	text-align: center;

}

.thank-you {
	margin: 0 auto;
	padding-top: 25px;
}

p {
	color: white;
	font-size: 24px;
	font-family: 'Sancreek', cursive;
	text-align: center;
}

.container-stage {
width: 80%;
height: 400px;
margin: 0 auto;
}

.container-break {
	width: 100%;
	height: 50px;
}

.container-stage .img {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	height: 400px;
	margin-left: 2px;
	border-radius: 25px;
}
.container {
	background-image: url("https://www.textures.com/system/gallery/photos/Soil/Beach/34407/SoilBeach0087_2_download600.jpg");
	width: 600px;
	margin: 0 auto;
	border-radius: 10px;
	margin-bottom: 3px;

}

.column-left {
	position: relative;
	/*border: 3px solid black;*/
	float: left;
	width: 48%;
}

.column-right {
	position: relative;
	/*border: 3px solid black;*/
	float: right;
	width: 48%;
}

.bench {
	display: block;
	/*border: 3px solid gray;*/
	margin-bottom: 30px;
	height: 30px;

}

.seat {
	text-align: center;
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0 auto;
	width: 22%;
	background:url("bench.png") no-repeat center center;
	background-size: contain;
	z-index: 1;
	/*height: 30px;*/
	margin-left: 2px;
	/*border: 1px solid red;*/
}



.img-seat {
	width: 100%;
	z-index: .5;
	height: 30px;
}

a{
	height: 100%;
	width: 100%;
	color: #eee;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 150%;
		font-family: 'Sancreek', cursive;
}

a:hover {
	color: #eee;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



.hovering {
	background-color: rgba(237,245,0,0.75);
	background-image:url("bench.png") no-repeat;
	background-size: contain;
	z-index: 0;
	border-radius: 180px;
}

form {
  width: 40%;
  margin-left: 10%;
	color: white;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: black;
	border: 1px solid white;
	padding: 20px;
	font-family: 'Sancreek', cursive;
	z-index: 50;

}
#chooseNumSeats {
  width: 15%;
}


.disabled {
	background-color: rgba(237,0,0,0.75);
	background-image:url("bench.png") no-repeat;
	background-size: contain;
	position: relative;
	border-radius:180px;
	z-index: 200;
}

.disabled a {
	pointer-events: none;
}


.checkout {
	background-color:rgba(0,120,30,.8);
	background-image:url("bench.png") no-repeat;
	position: relative;
	background-size: contain;
	border-radius: 180px;
}

.hoverdiv {
	display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    color: #eee;
    font-size: 125%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border: 1px solid red;
    background-color: rgba(100,100,100,.9);
    z-index: 10;
}
/* make child of disabled class divs (hoverdiv) appear as block instead of displaying as none */
.disabled:hover > .hoverdiv {
	display:block;
	border-radius: 10px;
}

.pull-left{
	margin-left: 20px;
}

.pull-right{
	margin-right: 20px;
}